<header>
  <img class="profile" src="/assets/profile.jpg"/>
  {% if page.permalink != "/" %}
    <span class="name">Chiwan Park</span>
  {% else %}
    <h1 class="name">Chiwan Park</h1>
  {% endif %}

  <p class="description">
    Machine Learning Engineer @ Kakao Corp.
  </p>

  <nav class="menu">
    <a href="/"><i class="fas fa-home"></i><span class="text">Home</span></a>
    <a href="/articles"><i class="fas fa-file-alt"></i><span class="text">Articles</span></a>
    <a href="/feed.xml"><i class ="fas fa-rss-square"></i><span class="text">Feed</span></a>
  </nav>
</header>
