<header>
  <img class="profile" src="/assets/profile.jpg"/>
  {% if page.permalink != "/" %}
    <span class="name">Chiwan Park</span>
  {% else %}
    <h1 class="name">Chiwan Park</h1>
  {% endif %}

  <p class="description">
    A software engineer @ Kakao Corporation
  </p>

  <nav class="menu">
    <a href="/"><i class="fa fa-home"></i><span class="text">Home</span></a>
    <a href="/articles"><i class="fa fa-file-text"></i><span class="text">Articles</span></a>
    <a href="https://github.com/chiwanpark/"><i class="fa fa-github"></i><span class="text">Github</span></a>
    <a href="https://kr.linkedin.com/in/chiwanpark"><i class="fa fa-linkedin"></i><span class="text">LinkedIn</span></a>
  </nav>
</header>
