---
---
// font
$body-font: 'Pretendard', sans-serif;
$code-font: 'Cascade Code';
@font-face {
  font-family: $code-font;
  font-weight: 400;
  src: url(/assets/CascadiaCode.woff2) format('woff2');
}

// layout
$content-width: 900px;

// color
@import "open-color";
$text-color: $oc-gray-8;
$highlight-color: $oc-pink-9;
$background-color: #ffffff;
$quote-color: $oc-gray-7;
$code-number-color: $oc-gray-5;
$line-section-color: $oc-gray-3; 

@import "reset";
@import "github-gist";

.highlight, code {
  font-family: $code-font, monospace;
  font-size: 0.8rem;
}

.highlight {
  border: 1px solid $line-section-color;
  border-radius: 3px;
  line-height: 1.4rem;

  .hljs {
    padding: 0 0.5em;
  }
}

td.hljs-ln-numbers {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  text-align: right;
  color: $code-number-color;
  border-right: 1px solid $line-section-color;
  vertical-align: top;
  padding-right: 5px !important;

  /* your custom style here */
  margin-right: 5px;
}

/* for block of code */
td.hljs-ln-code {
  padding-left: 7px !important;
}

html {
  color: $text-color;
  background-color: $background-color;
  height: 100%;
  font-size: 16px;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $body-font;
  font-weight: 400;
  font-display: swap;
  padding: 0;
  margin: 0;
  line-height: 1.7rem;
  border-top: 3px solid $highlight-color;
}

div.header-container {
  header {
    max-width: $content-width;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $line-section-color;

    h1 {
      font-size: 1.2rem;
      font-weight: 700;
    }

    nav.menu {
      text-align: center;
      a {
        display: inline-block;
        margin: 0 0.25rem;
        padding: 0.5rem 0.25rem;
        color: $text-color;
        font-weight: 600;
        border-bottom: 3px solid $background-color;
        text-decoration: none;
        font-size: 0.9rem;

        svg {
          width: 1.25rem;
        }

        svg, span {
          display: inline-block;
          vertical-align: middle;
        }

        &.active, &:hover {
          color: $highlight-color;
          border-bottom: 3px solid $highlight-color;
        }
      }
    }
  }
}

div.content-container {
  max-width: $content-width;
  margin: 0 auto;
  padding: 1rem 1rem 0.5rem 1rem;
}

div.profile {
  display: flex;
  margin-bottom: 1rem;

  div.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    h1 {
      font-weight: 800;
      font-size: 1.6rem;
      margin-bottom: 0.25rem;
    }

    p {
      font-size: 1.25rem;
      margin: 0;
    }
  }

  img {
    max-width: 7.5rem;
    margin-right: 1rem;
    border-radius: 4px;
  }
}

a {
  color: $highlight-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

main {
  div.sect1 {
    margin-bottom: 1rem;
  }

  h1 {
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  h2 {
    font-weight: 700;
    font-size: 1.15rem;
    margin-bottom: 0.5rem;
  }

  h3 {
    font-weight: 700;
  }

  p {
    word-break: keep-all;
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-feature-settings: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }

  div.paragraph, div.olist, div.imageblock, div.listingblock, div.quoteblock {
    margin: 0.25rem 0 1rem 0;
  }

  blockquote {
    border-left: 3px solid $quote-color;
    padding-left: 1rem;
  }

  div.imageblock {
    text-align: center;
    div.title {
      font-size: 0.95rem;
      margin-top: 0;
      line-height: 1rem;
    }
  }

  img {
    max-width: 100%;
  }

  strong {
    font-weight: 600;
  }

  ul {
    li {
      list-style: disc;
    }
    margin-left: 1rem;
  }

  ol {
    margin-left: 1rem;
    &.arabic {
      list-style: decimal;
    }
    &.loweralpha {
      list-style: lower-alpha;
    }
  }

  dl {
    dt {
      display: list-item;
      list-style: disc;
      font-weight: 700;
    }
    dd {
      p {
        white-space: pre-wrap;
        strong {
          font-weight: 400;
          text-decoration: underline;
        }
      }
      margin-bottom: 0.5rem;
    }
    margin-left: 1rem;
  }

  article {
    header {
      margin-bottom: 1rem;

      h1 {
        margin-bottom: 0;
      }
      p {
        font-size: 0.9rem;
        line-height: 1.2rem;
      }
    }

    h2 {
      margin-bottom: 0;
    }
  }

  sup.footnote {
    font-size: 0.7rem;
    vertical-align: super;
  }

  div#footnotes {
    font-size: 0.85rem;
    margin-bottom: 1rem;
    a {
      font-family: $code-font;
    }
  }
}

div.experience {
  ul {
    li {
      margin-bottom: 0.5rem;
      p {
        font-weight: 600;
      }
      ul {
        margin-left: 0;
        li {
          list-style: none;
          p {
            font-weight: 400;
          }
        }
      }
    }
  }
}

div.biography {
  h2 {
    display: none;
  }
}

ol.writings {
  margin: 1rem 0 0 0;

  li {
    div.date {
      margin-top: 1rem;
      font-size: 0.95rem;
    }
    div.description {
      h2 {
        font-weight: 600;
        font-size: 1rem;
        margin: 0;
      }
    }
  }
}

div.ad-container > ins.ad-responsive {
  text-align: left;
  margin: 0 auto 1rem auto;
  width: 300px;
  height: 250px;
}

@media(min-width: 500px) {
  div.ad-container > ins.ad-responsive {
    width: 468px;
    height: 60px;
  }
}

@media(min-width: 800px) {
  div.ad-container > ins.ad-responsive {
    width: 728px;
    height: 90px;
  }
}

div.list-navigation {
  a {
    display: inline-block;
    border-bottom: 1px solid $background-color;
  }
  a:hover {
    text-decoration: none;
    border-bottom: 1px solid $highlight-color;
  }
  svg, span {
    display: inline-block;
    vertical-align: middle;
  }

  svg {
    width: 1.25rem;
  }
}

footer {
  border-top: 1px solid $line-section-color;
  padding: 0.5rem 1rem;
  margin: 0.5rem auto;
  line-height: 1rem;
  max-width: $content-width;
  font-size: 0.75rem;
  text-align: right;
}
