@charset "utf-8";

@import url(http://fonts.googleapis.com/css?family=Gudea:400,700,400italic);
@import "font-awesome/font-awesome.less";
@import "pure/grids-min.less";

.font-hack {
  font-family: "Gudea", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
}

html, body {
  background-color: #f7f7f7;
  font-size: 1em;
}

#wrapper {
  .pure-g;

  max-width: 890px;
  margin: 30px auto;
  padding: 10px;
}

header {
  .pure-g-r;
  .pure-u-1;

  .font-hack;

  text-align: center;

  #portrait-holder {
    .pure-u-1;

    margin: 15px auto;
    border: 3px solid #FFFFFF;
    border-radius: 50%;
    max-width: 180px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .6);

    img {
      margin: 0 auto;
      max-width: 180px;
      width: 100%;
      border-radius: 50%;
      zoom: 1;
      display: inline-block;
      vertical-align: top;
    }
  }

  h1 {
    .pure-u-1;
  }
}

.box(@padd: 25px) {
  box-shadow: 0px 3px 3px -3px #ccc;
  border-left: 10px solid #7b80f3;
  background-color: #fefefe;
  padding: @padd;
}

#bio {
  .pure-g-r;
  .pure-u-1;

  .font-hack;

  h2 > i {
     margin-right: 0.4em;
  }

  div.content {
    .box(10px 25px);
    p {
      text-indent: 0.85em;
    }
  }
}
