---
---
/** Eric Meyer Reset **/
@import "reset";

/** Font-Awesome **/
$fa-font-path: "fonts/font-awesome/";
@import "font-awesome";

/** Variables **/
$header-font: 'Mukta', sans-serif;
$body-font: 'Mukta', 'Nanum Barun Gothic', sans-serif;
$base-font-size: 12pt;
$base-font-color: #495057;
$hover-color: #f76707;
$icon-box-color: #343a40;
$icon-color: #ffffff;
$background-color: #ffffff;
$header-color: #f8f9fa;
$header-line-color: #dee2e6;
$content-width: 740px;
$line-color: $base-font-color;
$content-line-height: 1.5rem;
$blockquote-line-height: 1.5rem;

/** highlight.js **/
.highlight, code {
  font-family: 'Inconsolata', monospace;
  font-size: 0.95rem;
}

@import "github-gist";
/* for block of numbers */
td.hljs-ln-numbers {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  text-align: right;
  color: #ccc;
  border-right: 1px solid #CCC;
  vertical-align: top;
  padding-right: 5px !important;

  /* your custom style here */
  margin-right: 5px;
}

/* for block of code */
td.hljs-ln-code {
  padding-left: 7px !important;
}

html {
  color: $base-font-color;
  background-color: $background-color;
  height: 100%;
  font-size: $base-font-size;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100%;
  font-family: $body-font;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

body > header {
  background-color: $header-color;
  padding: 3rem 2rem 1rem 2rem;
  text-align: center;
  border-bottom: 1px solid $header-line-color;

  & > img.profile {
    width: 160px;
    border: 1px solid $base-font-color;
    border-radius: 50%;
  }

  & > .name {
    display: block;
    margin: 0.5rem 0;
    font-weight: 700;
    font-size: 2rem;
  }

  & > nav {
    margin: 1rem 0;

    a {
      margin: 0.3rem 0.4rem 0.3rem 0;
      text-decoration: none;
      line-height: 2rem;

      i.fa, i.fab, i.fas {
        line-height: 2rem;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: $icon-box-color;
        color: $icon-color;
      }

      &:hover {
        i.fa {
          background-color: $hover-color;
        }
      }

      span.text {
        overflow: hidden;
        text-indent: -10000rem;
        display: inline-block;
        width: 0;
        height: 0;
      }

      @media only all and (min-width: 600px) {
        span.text {
          display: inline !important;
          margin-left: 0.2rem;
        }
      }
    }
  }
}

a {
  text-decoration: underline;
  color: $base-font-color;

  &:hover {
    color: $hover-color;
  }
}

sup {
  font-size: 0.7rem;
  margin-top: -5px;
  display: inline-block;
  vertical-align: top;

  a {
    color: $hover-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

strong {
  font-weight: 700;
}

div.content-container {
  margin: 0 auto;
  max-width: $content-width;
  padding: 1rem 1.5rem;

  @media only all and (min-width: 768px) {
    padding: 1rem 0;
  }

  main {
    h1, h2, h3 {
      font-weight: 700;
      text-align: left;
    }

    h1 {
      font-size: 1.4rem;
      margin: 0 0 0.5rem;
    }

    h2 {
      font-size: 1.2rem;
      margin: 1.2rem 0 0.5rem;
    }

    p {
      text-align: justify;
      word-break: keep-all;
      overflow-wrap: break-word;
      word-wrap: break-word;
      line-height: $content-line-height;
      margin-bottom: 1rem;
      font-feature-settings: normal;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
    }

    img {
      max-width: 100%;
      display: block;
      margin: 0.35rem auto;
    }

    div.imageblock {
      & > div.title {
        text-align: center;
        margin: 0.3rem 0 0.7rem 0;
      }
    }

    article {
      overflow-x: auto;

      p.date {
        margin-top: -0.6rem;
        font-size: 0.8rem;
      }
    }

    blockquote {
      border-left: 4px solid $line-color;
      margin: 0.8rem 0 0.8rem 0.6rem;
      padding-left: 0.9rem;
      line-height: $blockquote-line-height;
      text-align: justify;
    }

    ul {
      list-style: disc;
      padding-left: 1.4rem;

      li {
        margin: 0 0 0.3rem 0;

        h2 {
          font-size: 1rem;
          font-weight: 700;
          margin: 0;
          padding: 0;
        }

        p {
          margin: 0;
        }
      }
    }

    ol {
      list-style: decimal;
      padding-left: 1.4rem;

      li {
        margin: 0.5rem 0;

        p {
          margin: 0;
        }
      }

      &.articles {
        list-style: none;
        padding: 0.6rem 0;

        li {
          margin-bottom: 1.2rem;

          h2 {
            font-size: 1rem;
            margin: 0.4rem 0;
          }

          & > .date {
            font-style: italic;
          }

          & > .description {
            text-align: left;

            span.summary {
              line-height: $content-line-height;
            }
          }
        }
      }
    }

    hr {
      display: block;
      height: 1px;
      border: 0;
      border-top: 1px dotted $line-color;
    }

    div.disclaimer {
      border: 2px solid #fa5252;
      border-radius: 5px;
      background-color: #fff5f5;
      padding: 0.6rem;

      p {
        margin: 0;
      }
    }

    div.cv-list {
      dt {
        display: list-item;
        font-weight: 700;
        list-style-type: disc;
        line-height: 1.2rem;
      }

      dt, dd {
        margin-left: 1.4rem;

        p {
          margin: 0.25rem 0 0.75rem 0;
          white-space: pre-wrap;
        }
      }
    }

    div#footnotes {
      font-size: 0.9rem;
      margin-bottom: 1rem;

      div.footnote {
        margin: 0.5rem 0;
        line-height: 1.2rem;
        text-align: justify;
      }
    }

    div.list-navigation a span.text {
      margin-left: 0.2rem;
    }
  }
}

div.ad-container {
  text-align: left;
  margin: 0 auto;
  margin-top: 1rem;
  max-width: $content-width;
}

footer {
  margin: 0 auto;
  padding: 1rem;
  max-width: $content-width;
  text-align: right;
  font-size: 0.7rem;

  & > p {
    line-height: 0.95rem;
  }
}
