{% extends 'skeleton.html' %}
{% block title %}Articles | Chiwan Park{% endblock %}
{% block content %}
  <h1>Articles</h1>
  <ol class="articles">
    {% for article in articles %}
      <li class="article-overview">
        <div class="date">{{ article.date.strftime('%b %d, %Y') }}</div>
        <div class="description">
        <h2><a href="{{ article.url }}">{{ article.title }}</a></h2>
          <span class="summary">{{ article.summary }}</span>
        </div>
      </li>
    {% endfor %}
  </ol>
{% endblock %}
