{% extends 'skeleton.html' %}
{% block title %}{{ article.title }} | Chiwan Park{% endblock %}
{% block customStylesheet %}
  <link href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.5.1/katex.min.css" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block customScript %}
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.5.1/katex.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.5.1/contrib/auto-render.min.js"></script>
  <script type="text/javascript">
    (function() {
      'use strict';

      var renderLaTeX = function() {
        window.renderMathInElement(document.getElementById('article-content'), {
          delimiters: [
            {left: "$$", right: "$$", display: true},
            {left: "$", right: '$', display: false},
            {left: "\\[", right: "\\]", display: true},
            {left: "\\(", right: "\\)", display: false}
          ]
        });
      };

      window.addEventListener('load', renderLaTeX, false);
    })();
  </script>
{% endblock %}
{% block content %}
  <article>
    <header>
      <h1>{{ article.title }}</h1>

      <p class="date">written on {{ article.date.strftime('%A, %B %d, %Y') }}</p>
    </header>

    <section id="article-content" class="content">{{ article.content }}</section>
  </article>

  <div class="list-navigation">
    <a href="{{ url('articles') }}"><i class="fa fa-lg fa-arrow-circle-left"></i> Back to list</a>
  </div>
{% endblock %}
