{% extends "skeleton.html" %}
{% block title %}Media Library - Chiwan Park{% endblock %}

{% macro pretty_album(album) %}
  <li>
    <div>
      <span class="type">Album</span>

      <p class="coverart">
        <img src="{{ albumart(album['artist'] + ' ' + album['title']) }}"
             title="Coverart of {{ album['title'] }}"/>
      </p>

      <p>
        <span class="title"><i class="fa fa-headphones"></i>{{ album['title'] }}</span>
        <span class="artist"><i
            class="fa fa-user"></i>{{ album['artist'] }}</span>
        <span class="lastPlayed"><i
            class="fa fa-clock-o"></i>{{ album['lastPlayed'].strftime('%Y-%m-%d') }}</span>
      </p>
    </div>
  </li>
{% endmacro %}

{% macro pretty_movie(movie) %}
  <li>
    <div>
      <span class="type">Movie</span>

      <p class="coverart">
        <img src="{{ movie['coverart'] }}"
             title="Coverart of {{ movie['title'] }}"/>
      </p>

      <p>
        <span class="title"><i
            class="fa fa-youtube-play"></i>{{ movie['title'] }}</span>
        <span class="lastPlayed"><i
            class="fa fa-clock-o"></i>{{ movie['lastPlayed'].strftime('%Y-%m-%d') }}</span>
      </p>
    </div>
  </li>
{% endmacro %}

{% macro pretty_media(media_list) %}
  <ul class="media-list">
    {% for media in media_list %}
      {% if media['type'] == 'album' %}
        {{ pretty_album(media) }}
      {% elif media['type'] == 'movie' %}
        {{ pretty_movie(media) }}
      {% endif %}
    {% endfor %}
  </ul>
{% endmacro %}

{% block content %}
  <section>
    <h2><i class="fa fa-play-circle-o"></i>Media</h2>

    <div class="content">
      <p>최근에 감상한 음악, 영화 목록입니다. 이 문서는 {{ today.strftime('%Y년 %m월 %d일') }}에 업데이트
        되었습니다.</p>
    </div>

    <div class="content">
      {{ pretty_media(media_list|sort(attribute='lastPlayed', reverse=True)) }}
    </div>
  </section>
{% endblock %}