<!doctype html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet/less" type="text/css" href="{{ assets('style.less') }}"/>
  <link rel="stylesheet" type="text/css"
        href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"/>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.6.3/less.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
  <script type="text/javascript"
          src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/helpers/jquery.fancybox-media.js"></script>
  <script type="text/javascript" src="{{ assets('index.js') }}"></script>
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div id="wrapper">
  <header>
    <div id="portrait-holder">
      <img src="{{ assets('portrait.jpg') }}" title="Portrait of Chiwan Park"/>
    </div>
    <nav>
      <h1>Chiwan Park</h1>

      <ul class="links">
        <li><a href="{{ url() }}" alt="Homepage"><i class="fa fa-home"></i></a></li>
        <li><a href="{{ url('articles') }}" alt="Articles"><i class="fa fa-book"></i></a></li>
        <li>
          <a href="http://www.google.com/recaptcha/mailhide/d?k=01Hyzp_YFzysc70qsTOiq_YQ==&amp;c=RrEeehlsm3nB3TgN4aIF-Jbu-a2cGhgjzK2bxqdao2E="
             onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501Hyzp_YFzysc70qsTOiq_YQ\75\75\46c\75RrEeehlsm3nB3TgN4aIF-Jbu-a2cGhgjzK2bxqdao2E\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;"
             target="_blank" alt="E-Mail Address"><i class="fa fa-envelope"></i></a></li>
        <li><a href="https://fb.me/chiwanpark" alt="Facebook"><i class="fa fa-facebook-square"></i></a></li>
        <li><a href="https://github.com/chiwanpark" alt="Github"><i class="fa fa-github-square"></i></a></li>
        <li><a href="https://bitbucket.org/chiwanpark" alt="Bitbucket"><i class="fa fa-bitbucket-square"></i></a></li>
      </ul>
    </nav>
  </header>

  {% block content %}{% endblock %}

  <footer>
    <p>Hosted by <a href="https://pages.github.com/">Github pages</a></p>
  </footer>
</div>
</body>
</html>
