<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<head>
  {% include head.html %}
  <link href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.15.2/katex.min.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.15.2/katex.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.15.2/contrib/auto-render.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/languages/scala.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.8.0/highlightjs-line-numbers.min.js"></script>
  <script type="text/javascript">
    (function() {
      'use strict';

      hljs.initHighlightingOnLoad();
      var renderLineNumber = function() {
        var blocks = document.querySelectorAll('code.hljs');
        for (var i = 0; i < blocks.length; ++i) {
          if (blocks[i].dataset.lang && blocks[i].dataset.lang != 'shell') {
            hljs.lineNumbersBlock(blocks[i]);
          }
        }
      };

      var renderLaTeX = function() {
        window.renderMathInElement(document.getElementById('writing-content'), {
          delimiters: [
            {left: "\\begin{equation}", right: "\\end{equation}", display: true},
            {left: "$", right: '$', display: false},
            {left: "\\[", right: "\\]", display: true},
            {left: "\\(", right: "\\)", display: false}
          ]
        });
      };

      window.addEventListener('load', renderLaTeX, false);
      window.addEventListener('load', renderLineNumber, false);
    })();
  </script>
</head>
<body>
{% include navbar.html %}

<div class="content-container">
  <main>
    <article>
      <header>
        <h1>{{ page.title }}</h1>

        <p class="date">published on {{ page.date | date: '%A, %B %d, %Y' }}</p>
      </header>

      <section id="writing-content" class="content">{{ content }}</section>
    </article>

    <div class="list-navigation">
      <a href="/writings/">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 19l-7-7 7-7m8 14l-7-7 7-7" />
        </svg>
        <span>Back to list</span>
      </a>
    </div>
  </main>
</div>

{% include footer.html %}

<div class="ad-container">
  {% include google-adsense.html %}
</div>
{% include google-analytics.html %}
</body>
</html>
