/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* chiwanpark.com style start */
body {
    font-family: AppleSDGothicNeo, "Malgun Gothic", Gulim, Dotum, sans;
    font-size: 11pt;
    font-weight: normal;
    color: #2f343b;
    line-height: 1.4em;
    border-top: 7px solid #703030;
    padding: 20px;
}

h1, h2, h3, h4 {
    font-weight: 900;
    line-height: 1.3em;
}

h1 {
    font-size: 2.2em;
    line-height: 1.7em;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.2em;
}

body#index>div#contents-container {
    float: left;
}

div#photo {
    float: left;
}

div#contents-container {
    width: 720px;
    margin-left: 10px;
}

div#contents-container:after {
    content: '';
    clear: both;
}

div#contents-container>div>p {
    margin: 1.1em 0;
}

div#contents-container>div>p:nth-child(2) {
    margin: 0 0 1.1em 0;
}

ul#links>li {
    display: inline;
}

ul#links {
    padding: 0;
}

ul {
    padding: 10px;
}

dl {
    padding: 10px;
}

dd {
    padding: 10px;
}

dd small {
    font-size: 0.9em;
}

ul>li>span.title {
    font-weight: bold;
}

em {
    font-style: italic;
}

span.me {
    font-weight: bold;
}
