/* chiwanpark.com style start */
html {
    font-size: 16px;
}

body {
    font-family: "Trebuchet MS", AppleSDGothicNeo, "Apple SD Gothic Neo", "Malgun Gothic", Gulim, Dotum, sans-serif;
    font-weight: normal;
    color: #333;
    line-height: 150%;
    border-top: 7px solid #703030;
    padding: 20px;
    margin: 0;
}

h1, h2, h3, h4 {
    font-family: Georgia, AppleSDGothicNeo, "Apple SD Gothic Neo", "Malgun Gothic", Gulim, Dotum, sans-serif;
    font-weight: normal;
    font-size: 2em;
    line-height: 150%;
    margin-bottom: 0;
    color: #666;
}

a {
    color: #333;
    text-decoration: none;
    padding: 1px 2px;
    background: #efefef;
}

a:hover {
    color: #666;
    background: none;
}

h1 {
    color: #333;
    font-weight: normal;
    margin-bottom: 0;
}

body>div#wrapper {
    width: 620px;
    margin: auto;
}

body#index>div#contents-container {
    float: left;
}

body#index div#photo {
    margin-left: -230px;
    width: 200px;
    position: relative;
    padding-right: 25px;
    border-right: 1px solid #999;
    clear: both;
    float: left;
}

div#contents-container {
    width: 620px;
    margin-left: 20px;
}

div#contents-container:after {
    content: '';
    clear: both;
}

div#contents-container>div>p {
    margin: 1.1em 0;
}

div#contents-container>div>p:nth-child(2) {
    margin: 0 0 1.1em 0;
}

ul#links {
    padding: 0;
    list-style: none;
}

ul#links>li {
    display: inline-block;
}

ul {
    padding: 10px;
}

dl {
    padding: 10px;
}

dd {
    padding: 10px;
}

dd small {
    font-size: 0.9em;
}

ul>li>span.title {
    font-weight: bold;
}

ul#links a {
    vertical-align: middle;
}

ul#links a>img {
    vertical-align: middle;
    border: none;
    width: 34px;
    height: 34px;
}

em {
    font-style: italic;
}

span.me {
    font-weight: bold;
}

div#copyright {
    margin-top: 45px;
    text-align: center;
    font-size: 12px;
}
